extends base.pug

block content
    video(src="/"+video.fileUrl, controls)
    div
        p=video.description
        small=video.createdAt
    div     
        small Uploaded by 
        small=owner.name
        br
        small=loggedInUser._id
        ul 
            each hashtag in video.hashtags
                li=hashtag

    if String(video.owner) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
